@import url("../../styles/animations.css");

.experience-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1440px;
  margin: 3rem auto 0;
  width: 100%;
}

.experience-title {
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.experience-subtitle {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.experience-image {
  width: 100%;
  box-sizing: border-box;
  view-timeline: --experienceImage block;
  animation-timeline: --experienceImage;
  animation-name: appear;
  animation-duration: 1ms;
  animation-fill-mode: both;
  animation-range: entry 0% cover 35%;
}

.experience-images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

@media (min-width: 1280px) {
  .experience-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
