@import url("../../styles/animations.css");

.products-container {
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: var(--black);
  max-width: 1440px;
  background-color: white;
  z-index: 1;
}

.product-card {
  width: 100%;
  text-align: center;
}

.product-card img {
  width: 100%;
  max-width: 20rem;
  view-timeline: --productImage block;
  animation-timeline: --productImage;
  animation-name: appear;
  animation-duration: 1ms;
  animation-fill-mode: both;
  animation-range: entry 0% cover 35%;
}

.product-title {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.product-description {
  text-wrap: balance;
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: 0 0.5rem;
}

@media (min-width: 768px) {
  .products-container {
    grid-template-columns: 1fr 1.2fr 1fr;
  }

  .product-card img {
    width: 100%;
    max-width: none;
  }
}
